<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Assessment - Home Page</title>
</head>
<body>
      <h1>Welcome</h1>  
		
<div>
		<p><a href=""></a></p>
		<p><a href=""></a></p>
</div>

	<div>
		<table>
	        <thead>
	                <tr>
		                        <th scope="col">Name</th>
		                        <th scope="col">Region</th>
		                        <th scope="col">Type</th>
		                        <th scope="col">Country</th>
		                        <th scope="col">Longitude</th>
		                        <th scope="col">Latitude</th>
		                        <th scope="col">Description</th>
		                        <th scope="col">Recomendations</th>
	                </tr>
	        </thead>
			<%
				results.forEach(content =>{
			%>
			<tbody>
			        <tr>
							<td> <%= content.name %> </td>
							<td> <%= content.region %> </td>
							<td> <%= content.type %> </td>
							<td> <%= contetn.country %> </td>
							<td> <%= contetn.lon %> </td>
							<td> <%= content.lat %> </td>
							<td> <%= content.description%> </td>
							<td> <%= content.recommendations %> </td>
							<td> <form method="POST" action="/poi/:<%= content.ID %><recommend></recommend>
			        </tr>
			</tbody>
			<% }); %>
		</table>
	</div>
</body>
</html>
