<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>AE1 EJS</title>
        <script src="./poi.js"></script>
</head>
<body>
       <p>Hello World!</p> 
		<label for="regionInput"> Region </label>
		<input type="text" id="inputQuery"> <br>
		<button onclick="activateAjax()"></button>
		<input type="submit" id="sendButton" value="Submit"> <br><br>

		<table>
		        <thead>
		                <tr>
		                        <th scope="col">Name</th>
		                        <th scope="col">Region</th>
		                        <th scope="col">Type</th>
		                        <th scope="col">Country</th>
		                        <th scope="col">Longitude</th>
		                        <th scope="col">Latitude</th>
		                        <th scope="col">Description</th>
		                        <th scope="col">Recomendations</th>
		                </tr>
		        </thead>
				<%
					results.forEach(results =>{
				%>
				<tbody>
				        <tr>
							<td> <%= results.name %> </td>
							<td> <%= results.region %> </td>
							<td> <%= results.type %> </td>
							<td> <%= results.country %> </td>
							<td> <%= results.lon %> </td>
							<td> <%= results.lat %> </td>
							<td> <%= results.description%> </td>
							<td> <%= results.recommendations %> </td>
							<td> <form method="POST" action="/poi/:<%= results.ID %><recommend></recommend>
<button> Recommend</button> </form>  </td>
				        </tr>
				</tbody>
		</table>

		<label for="nameIn"> Name</label>
		<input type="text" id="nameIn"> <br>
		<label for="regionIn"> Region </label>
		<input type="text" id="regionIn"> <br>
		<label for="typeIn"> Type</label>
		<input type="text" id="typeIn"> <br>
		<label for="countryIn"> Country</label>
		<input type="text" id="countryIn"> <br>
		<label for="lonIn"> Longitude</label>
		<input type="text" id="lonIn"> <br>
		<label for="latIn"> Latitude</label>
		<input type="text" id="latIn"> <br>
		<label for="desIn"> Description</label>
		<input type="text" id="desIn"> <br>
		<input type="submit" id="sendIn" value="Add In!"> <br> <br>
</body>
</html>
